.header {
  background-image: url(https://tutorsheba.com/_next/static/media/banner-bg.59ddabf7.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
}
